<section>
  <label for="id_name">Name:</label>
  {{form.name.errors}}
  {{form.name}}
</section>

<section>
  <label for="id_base_directory">Base Directory:</label>
  {{form.base_directory.errors}}
  {{form.base_directory}}
</section>

<section>
  <label for="id_git_repo">Git Repository:</label>
  {{form.git_repo.errors}}
  {{form.git_repo}}
</section>

<section>
  <label for="id_description">Description:</label>
  {{form.description.errors}}
  {{form.description.help_text}}
  {{form.description}}
</section>
  
  
