<li id="project-{{project.id}}" class="clearfix">
  <div class="buttons clearfix">
    <a href="{% url favourite_project project.id %}" class="favourite{{project.favourite|yesno:' favourited,'}}">Favourite</a>
    <a href="{% url schedule_buildout project.id %}" class="buildout">Run Buildout</a>
    <a href="{% url schedule_test project.id %}" class="buildout">Run Tests</a>
    <a href="{% url view_project project.id %}" class="settings">Settings</a>
  </div>
  <h3>{{project.name}}</h3>
  <span>{{project.base_directory}}</span>
</li>
