{% extends 'nosidebar.html' %}

{% block main %}
<p>Select the type of recipe you would like to add to {{project.name}}'s buildout.cfg:</p>
<form method="post" action="{% url save_recipe project.id %}" class="clearfix">
  <select name="recipe_name" id="available_recipes">
    <option value=""></option>
    {% for recipe in available_recipes %}
      <option value="{{recipe}}">{{recipe}}</option>
    {% endfor %}
  </select>
  <div id="recipe_template_container">
  </div>
  <input type="submit" value="Create Recipe" class="margin blue left">
  <a class="left orange button margin" href="{% url view_project project.id %}">Cancel</a>  
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('#available_recipes').change(load_recipe_template({{project.id}}));
</script>
{% endblock %}
