{% extends 'nosidebar.html' %}

{% block contenttitle %}Add A Project{% endblock %}

{% block main %}
<form method="post" class="clearfix">
  {% csrf_token %}
  {% include 'project/_form.html' %}
  <div class="buttons clearfix">
    <input type="submit" value="{% block submit_command %}Create Project{% endblock %}" class="left blue">
    <a href="{% block cancel_url %}{% url list_projects %}{% endblock %}" class="button left orange">Cancel</a>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('#id_name').change(function() {
    $('#id_base_directory').val('{{base_url}}' + slugify($('#id_name').val()) + "/");
  });
</script>
{% endblock %}
