{% extends 'nosidebar.html' %}

{% block contenttitle %}{{project.name}}{% endblock %}

{% block main %}
<p>{{project.git_repo}}</p>
<p>{{project.base_directory}}</p>
<p>{{project.description}}</p>
<h2>Buildout Sections</h2>
{% for name, section in project.buildout_sections %}
<ul>
    <li><h3>{{name}}</h3>
    {% for key, value in section.items %}
    <ul>
        {{key}} = {{value}}
    </ul>
    {% endfor %}
    </li>
</ul>
<a href="{% url add_recipe project.id %}">Add Recipe</a>
{% endfor %}
{% endblock %}
