{% extends 'sidebar.html' %}

{% block contenttitle %}Projects{% endblock %}

{% block main %}
<h2>Projects</h2>

<form action="/projects" method="get">
  <select name="orderby" class="autosubmit">
    <option value="">Sort Projects By</option>
    <option value="updated_at">Date</option>
    <option value="name">Name</option>
    <option value="test_status">Test Status</option>
  </select>
</form>


<ul class="projects" id="project-list">
  {% include 'project/_project_list.html' %}
</ul>
{% endblock %}

{% block sidebar %}
<a class="button right" href="{% url add_project %}">Add Project</a>
{% endblock %}
