{% extends 'sidebar.html' %}

{% block contenttitle %}Projects{% endblock %}

{% block main %}
<h2>Projects</h2>

<form action="/projects" method="get">
  <select>
    <option value="">Sort Projects By</option>
    <option value="commits">Commits</option>
    <option value="date">Date</option>
    <option value="test-status">Test Status</option>
  </select>
</form>

<ul class="projects">
  {% for project in project_list %}
  <li id="project-{{project.id}}">
    <div class="buttons">
      <a href="#play" class="play">Play</a>
      <a href="{{project.get_absolute_url}}" class="settings">Settings</a>
    </div>
    <h3>{{project.name}}</h3>
    <span>{{project.base_directory}}</span>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block sidebar %}
<a class="button right" href="{% url add_project %}">Add Project</a>
{% endblock %}
