{% extends 'sidebar.html' %}
{% load buildout_config %}

{% block contenttitle %}{{project.name}}{% endblock %}

{% block main %}
<p>{{project.git_repo}}</p>
<p>{{project.base_directory}}</p>
<p>{{project.description}}</p>
<h2>Buildout Sections</h2>
{% for name, section in project.buildout_sections %}
<ul>
  <li><h3>{{name}}</h3>(<a href="{% url edit_recipe project.id name %}">Edit Recipe</a>)
  {% for key, value in section.items %}
  <ul>
    {{key}} = {{value|configvalue}}
  </ul>
  {% endfor %}
  </li>
</ul>
{% endfor %}
<a href="{% url add_recipe project.id %}">Add Recipe</a>
{% endblock %}

{% block sidebar %}
PHILSTYLEMEPLEASE!!!!!<br />
<a class="button right" href="{% url delete_project project.id %}">Delete Project</a><br />
<a class="button right" href="{% url schedule_buildout project.id %}">Buildout</a><br />
<a class="button right" href="{% url schedule_test project.id %}">Test</a><br />
{% if project.git_repo %}
    <a class="button right" href="{% url schedule_pull project.id %}">Git Pull</a><br />
{% endif %}
{% if project.is_django %}
<a class="button right" href="{% url schedule_syncdb project.id %}">Syncdb</a><br />
{% endif %}
{% endblock %}
