{% extends 'nosidebar.html' %}

{% block contenttitle %}Edit {{recipe_name}} on "{{project.name}}"{% endblock %}

{% block main %}
<form method="post" action="{% url save_recipe project.id %}" class="clearfix" id="recipe_form">
  {{form.media}}
  <input type="hidden" name="recipe_name" value="{{recipe_name}}">
  <div id="recipe_template_container">
    {% include template_name %}
  </div>
  <div class="buttons clearfix">
    <input type="submit" value="Save Recipe" class="left blue">
    <a class="left orange button" href="{% url view_project project.id %}">Cancel</a>
  </div>
</form>
{% endblock %}
