{% extends 'nosidebar.html' %}

{% block main %}
<div class="notifications clearfix">
  <ul class="tests successes">
      {% for notification in success_notifications %}
      <li class="notification {{notification.status}}">
        <a href="{{notification.get_absolute_url}}">
            <span class="project">{{notification.project.name}}</span>:
            <span class="result">{{notification.summary}}</span>
        </a>
      </li>
      {% endfor %}
  </ul>

  <ul class="tests errors">
      {% for notification in error_notifications %}
      <li class="notification {{notification.status}}">
        <a href="{{notification.get_absolute_url}}">
            <span class="project">{{notification.project.name}}</span>:
            <span class="result">{{notification.summary}}</span>
        </a>
      </li>
      {% endfor %}
  </ul>
</div>
{% include 'notifications/paginator.html' %}
{% endblock %}
