{% extends 'nosidebar.html' %}

{% block main %}
<div class="notification {{notification.status}}">
  <h2>{{notification.summary}}</h2>
  <span class="meta">
    <span class="time">{{notification.notification_time|date:"Y-m-d H:i:s"}}</span>
  </span>
  {% if notification.project %}
    <a href="{% url view_project notification.project.id %}" class="button highlight left clear margin orange">View Project</a>
    {% if notification.rerun_job %}
      <a href="{% url rerun_job notification.id %}" class="button highlight left ajax margin orange">Rerun Job</a>
    {% endif %}
  {% endif %}
  <code class="clear notification-code">{{notification.message}}</code>
</div>
{% endblock %}
