{% if is_paginated %}
<div class="clearfix paginator-wrapper">
  <div class="paginator">
    {% if page_obj.has_previous %}
    <a class="left button" href="?page={{page_obj.previous_page_number}}{% if paginator_extra %}&amp;{{paginator_extra}}{% endif %}">&larr; previous</a>
    {% else %}
      <span class="button disabled left">&larr; previous</span>
    {% endif %}
    <span class="current left">Page {{page_obj.number}} of {{paginator.num_pages}}</span>
    {% if page_obj.has_next %}
      <a class="left button" href="?page={{page_obj.next_page_number}}{% if paginator_extra %}&amp;{{paginator_extra}}{% endif %}">next &rarr;</a>
    {% else %}
      <span class="button disabled left">next &rarr;</span>
    {% endif %}
  </div>
</div>
{% endif %}
