{% extends "nosidebar.html" %}

{% block contenttitle %}About/Help{% endblock %}

{% block main %}
<div class="blocktext">
  <p>
    Great Big Crane allows managing python buildouts and django projects.
    Unlike many django applications, it is designed to be run on a local secured
    environment. This allows it to be extremely responsive and dispenses with user
    authentication. It also allows us to do cool things like open your text editor.
  </p>
  <p>
    Great Big Crane requires a recent browser, as we're using HTML 5, CSS 3 and a pile
    of vendor-specific properties.
  </p>
  <p>
    In normal usage, Great Big Crane allows you to manage a collection of <a href="{% url list_projects %}">projects</a>
    in a specific code directory. This directory name is set on the preferences
    page. For example, I store my code in <code>/home/dusty/code/</code> and individual
    projects are in <code>/home/dusty/code/greatbigcrane/</code> or
    <code>/home/dusty/code/whohasmy/</code>. The projects are expected to contain a
    standard buildout structure with a <code>buildout.cfg</code> and
    <code>bootstrap.py</code>. Great Big Crane can introspect existing directories
    and buildouts in this format or it can help set up brand new buildouts.
  </p>
  <p>
    To see it in action, click the Projects button on the menu bar and then click the
    <a href="{% url add_project %}">Add Project</a> button to add a new project. This
    simple form allows you to enter the name, base directory, an
    optional git repository and description. The base directory is automatically
    populated from the directory preference and the name of the project, however
    you are free to change this for code in non-standard locations.
  </p>
  <p>
    If you provided a git repository, it will automatically clone the repository into
    the new working directory. Otherwise, it will initialize and boostrap a simple
    skeleton buildout in that directory. Both the clone and bootstrap actions are
    processed in an external job queue, and notifications will show up on your
    dashboard when they have completed.
  </p>
  <p>
    The <a href="{% url dashboard_url %}">dashboard</a> lists your most recently active projects and explicitly
    favourited projects. Projects can be favourited using the star icon in the
    project list. You can also schedule a buildout and tests from the dashboard.
    Tests are run through the buildout. The test icon will glow either red or
    green depending on whether or not the last set of tests for that project
    completed successfully or not.
  </p>
  <p>
    <a href="{% url list_notifications %}">Notifications</a> indicate the output of various asynchronous commands,
    and come in three flavours: success, failure, or general. The small
    "x" box on the right of a notification allows you to dismiss it. The
    notifications page allows you to review all notifications dismissed or
    not at the same time. Clicking a notification allows you to view the
    output of the command that was run.
  </p>
  <p>
    If you click the project's row, you can see the buildout configuration
    for that project, with some helpers to edit the buildout. This
    information is introspected from the <code>buildout.cfg</code> itself, so if you
    want to edit it directly in your text editor, you can. We have provided
    a nifty line editor for editing key value pairs in sections such as
    eggs or extra paths that often have multiple lines. Certain expansions are
    available for quickly referring to other sections (e.g. <code>eggs =
        ${buildout:eggs}</code>). Select an expansion from the dropdown and
    click the insert button to apply it.
  </p>
  <p>
    The sidebar on project lists displays non-dismissed
    notifications for the project, as well as a set of actions that can be
    executed on that project, mostly asynchronously through the job queue:
  </p>
    <ul>
        <li>edit a project's details</li>
        <li>delete a project it</li>
        <li>run buildout on the project</li>
        <li>bootstrap the buildout</li>
        <li>run the test suite</li>
        <li>if the project has a git repo, you can issue a git pull to update it</li>
        <li>if it is a github project, you can view the github page to review commits and
        issues</li>
        <li>if it is a django project, you can run syncdb, startapp, and migrate</li>
        <li>if you've configured the Editor Path (and possibly the Terminal Path), you can edit the buildout.cfg in your favourite editor</li>
    </ul>
  <p>&nbsp;</p><!-- extra p because the column view is hiding a line -->
</div>
{% endblock %}
