{% extends 'sidebar.html' %}

{% block contenttitle %}
Dashboard
{% endblock %}

{% block main %}
<div class="dashboard">
  <h2>Current Projects</h2>
  <ul class="projects">
    {% for project in project_list %}
    <li id="project-{{project.id}}">
      <div class="buttons">
        <a href="#play" class="play">Play</a>
        <a href="{{project.get_absolute_url}}" class="settings">Settings</a>
      </div>
      <h3>{{project.name}}</h3>
      <span>{{projects.base_directory}}</span>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block sidebar %}
<div class="dashboard">
  <h2>Notifications</h2>
  <ul class="tests">
    <li class="pass">
      <a href="#project">
        <span class="project">Great Big Crane</span>:
        <span class="result">Passed 934/934</span>
      </a>
    </li>
    <li class="fail">
      <a href="#project">
        <span class="project">Epic Project</span>:
        <span class="result">Passed 34/785</span>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
