{% extends 'sidebar.html' %}

{% block contenttitle %}
Dashboard
{% endblock %}

{% block main %}
<div class="dashboard">
  <h2>Current Projects</h2>
  <ul class="projects" id="project-list">
    {% for project in project_list %}
      {% with project as project %}
        {% include 'project/_project.html' %}
      {% endwith %}
    {% endfor %}
  </ul>
  
  <h2>Favourite Projects</h2>
  <ul class="projects" id="favourite-project-list">
    {% for project in favourite_project_list %}
      {% with project as project %}
        {% include 'project/_project.html' %}
      {% endwith %}
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block sidebar %}
<div class="dashboard">
  <h2>Notifications</h2>
  <ul class="tests">
    {% for notification in notifications %}
      {% include 'notifications/_notification.html' %}
    {% endfor %}
  </ul>
  <a href="/notifications/">View all Notifications</a>
</div>
{% endblock %}
