{% extends 'sidebar.html' %}

{% block contenttitle %}
Dashboard
{% endblock %}

{% block main %}
<div class="dashboard">
  <h2>Current Projects</h2>
  <ul class="projects">
    <li>
      <div class="buttons">
        <a href="#play" class="play">Play</a>
        <a href="#settings" class="settings">Settings</a>
      </div>
      <h3>Epic Project</h3>
      <span>/some/path/in/here</span>
    </li>
  </ul>
</div>
{% endblock %}

{% block sidebar %}
<div class="dashboard">
  <h2>Notifications</h2>
  <ul class="tests">
    <li class="pass">
      <span class="project">Great Big Crane</span>:
      <span class="result">Passed 934/934</span>
    </li>
    <li class="fail">
      <span class="project">Epic Project</span>:
      <span class="result">Passed 34/785</span>
    </li>
  </ul>
</div>
{% endblock %}
