@import url(base.css);

body {
  background: #313236 url(/media/images/bg.jpg) 0 center no-repeat;
  color: #f6f6f6;
}

#container {
  width: 960px;
  margin: 0 auto;
}

nav, #main {
  background: #4b4b4b;
  padding: 10px;
}

#main {
  margin-top: 10px;
}

#content {
  float: left;
  width: 610px;
  padding: 10px;
}

#sidebar {
  float: right;
  width: 280px;
  padding: 10px;
}

#content.no-sidebar {
  float: none;
  width: auto;
}

#content, #sidebar {
  background: #212121;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Font styles */
h1 {
  font: normal normal 36px/1 Verdana, sans-serif;
  text-align: right;
  margin: 0 0 10px;
}

h2 {
  font: normal normal 20px/1.2 Verdana, sans-serif;
  color: #627f60;
}

/* header styles */
header nav ul, header nav li {
  margin: 0;
  padding: 0;
}

header nav li {
  float: left;
}

header nav li a,
header nav li a:active,
header nav li a:visited {
  font-size: 24px;
  color: #f6f6f6;
  text-decoration: none;
  display: block;
}

header nav li a:hover {
  color: #ddd;
}

header nav li + li a {
  margin-left: 10px;
}

header nav a.current {
  background: #212121;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

/* Dashboard */
/* -- project listing */
.dashboard .projects {}
.dashboard .projects {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
}

.dashboard .projects li {
  padding: 10px;
  color: #627f60;
  font: normal normal 12px/1.3 Verdana, sans-serif;
  background: #121212;
}

.dashboard .projects li h3 {
  font-size: 36px;
}

.dashboard .projects li span {
  display: block;
}

.dashboard .projects li .buttons {
  float: right;
}

.dashboard .projects li .buttons a {
  background: url(../images/icons.png) 0 0 no-repeat;
  width: 48px;
  height: 48px;
  float: left;
  text-indent: -999em;
  overflow: hidden;
  outline: none;
  opacity: 0.6;
}

.dashboard .projects li .buttons a:hover {
  opacity: 0.9;
}

.dashboard .projects li .buttons .play {
  background-position: 0 0;
}

.dashboard .projects li .buttons .settings {
  background-position: 0 -48px;
}