@import url(base.css);

body {
  background: #313236 url(/media/images/bg.jpg) center 0 no-repeat;
  color: #f6f6f6;
}

#container {
  width: 960px;
  margin: 0 auto;
}

nav, #main {
  background: #4b4b4b;
  padding: 10px;
}

#main {
  margin-top: 10px;
}

#content {
  float: left;
  width: 610px;
  padding: 10px;
}

#sidebar {
  float: right;
  width: 280px;
  padding: 10px;
}

.no-sidebar {
  width: 940px;
  margin: 0 auto;
}

.no-sidebar #content {
  float: none;
  width: auto;
}

#content, #sidebar {
  background: #323232;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Font styles */
h1 {
  font: normal normal 36px/1 'Cardo', Arial, sans-serif;
  text-align: right;
  margin: 5px 0 10px;
}

h2 {
  font: normal normal 20px/1.2 Verdana, sans-serif;
  color: #fff;
}

h3 {
  font: normal normal 16px/1.2 Verdana, sans-serif;
}

* + h2 {
  margin-top: 10px;
}

a, a:link, a:visited {
  color: #eee;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  text-decoration: none;
}

a:hover {
  color: #666;
}

a.block {
  display: block;
  margin: 5px 0;
}

/* misc styles */
.right {
  float: right;
}

.left {
  float: left;
}

p {
  margin-bottom: 10px;
}

code {
  white-space: pre;
  color: #999;
}

/* header styles */
header .title {
  font: 36px/1.4 'Cardo', Arial, sans-serif;
  margin: 10px;
  display: block;
  text-shadow: 0 0 5px #000;
  color: #ffc;
}
header nav ul, header nav li {
  margin: 0;
  padding: 0;
}

header nav li {
  float: left;
}

header nav li a,
header nav li a:active,
header nav li a:visited {
  font-size: 24px;
  color: #f6f6f6;
  text-decoration: none;
  display: block;
}

header nav li a:hover {
  color: #ddd;
}

header nav li + li a {
  margin-left: 10px;
}

header nav a.current {
  background: #212121;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

/* project listing */
ul.projects {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
}

ul.projects li {
  padding: 10px;
  color: #627f60;
  font: normal normal 12px/1.3 Verdana, sans-serif;
  background: #121212;
  cursor: pointer;
  
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}

ul.projects li:hover {
  color: #b2dfb0;
}

ul.projects li:hover .buttons a {
  opacity: 0.5;
}

ul.projects li + li {
  margin-top: 10px;
}

ul.projects li:nth-child(2n) {
  background: #212121;
}

ul.projects li span {
  display: block;
}

ul.projects li .buttons {
  float: right;
}

ul.projects li .buttons a,
.project .actions a {
  background: url(../images/icons.png) 0 0 no-repeat;
  width: 48px;
  height: 48px;
  float: left;
  text-indent: -999em;
  overflow: hidden;
  outline: none;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
}

ul.projects li .buttons a:hover,
.project .actions a:hover {
  opacity: 0.9;
}

ul.projects li .buttons .buildout,
.project .actions .buildout {
  background-position: 0 0;
}

ul.projects li .buttons .settings {
  background-position: 0 -48px;
}

ul.projects li .buttons .tests,
.project .actions .tests {
  background-position: 0 -96px;
}

ul.projects li .buttons .tests.success,
.project .actions .tests.success {
  background-position: 0 -144px;
}

ul.projects li .buttons .pull,
.project .actions .pull {
  background-position: 0 -192px;
}

ul.projects li .buttons .delete,
.project .actions .delete {
  background-position: 0 -240px;
}

ul.projects li .buttons .migrate,
.project .actions .migrate {
  background-position: 0 -288px;
}

ul.projects li .buttons .syncdb,
.project .actions .syncdb {
  background-position: 0 -336px;
}

ul.projects li .buttons .github,
.project .actions .github {
  background-position: 0 -384px;
}

ul.projects li .buttons .edit,
.project .actions .edit {
  background-position: 0 -432px;
}


ul.projects li .buttons .favourite,
.project .actions .favourite {
  background: url(../images/favourites.png) -48px 0 no-repeat;
}

ul.projects li .buttons .favourite.favourited,
.project .actions .favourite.favourited {
  background-position: 0 0;
}

ul.projects li .notice {
  padding: 5px;
  border: 1px solid #333;
  clear: both;
  display: block;
  margin-top: 20px;
}

ul.projects li .error {
  border-color: #900;
  background: #fee;
  color: #121212;
}

ul.projects li .success {
  border-color: #090;
  background: #cfc;
  color: #121212;
}

/* tests */
ul.tests {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
}

ul.tests .notification {
  position: relative;
}

ul.tests .notification .dismiss {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  text-indent: -999em;
  outline: none;
  background: url(../images/small-icon-delete.png) 0 0 no-repeat;
  width: 20px;
  height: 20px;
}

.notifications ul.tests li {
  width: 500px;
  clear: both;
}

.notifications ul.tests li .time {
  display: block;
}

ul.tests li a.result {
  font-size: 13px;
  display: block;
  padding: 10px 20px 10px 40px;
  text-decoration: none;
  background: url(../images/small-icons.png) right 0 no-repeat;
  text-align: left;
  -webkit-transition: border-color 0.3s linear;
  -moz-transition: border-color 0.3s linear;
}

ul.tests li a.result:hover {
  padding: 9px 19px 9px 39px;
  border: 1px solid #666 !important;
  background-position: 9px center !important;
}

ul.tests li.success a.result {
  color: #9de983;
  background: #121212 url(../images/small-icon-pass.png) 10px center no-repeat;
  border-color: #121212;
}

ul.tests li.error a.result {
  color: #a9a9a9;
  background: #4f2020 url(../images/small-icon-fail.png) 10px center no-repeat;
  border-color: #4f2020;
}

.notifications ul.tests li.success {
  float: left;
}

.notifications ul.tests li.error {
  float: right;
}

/* notifications */

.notification code {
  border: 1px solid #666;
  background: #121212;
  padding: 10px;
  display: block;
  clear: both;
}

.notification h2 {
  float: left;
  margin-bottom: 10px;
}

.notification .meta {
  float: right;
}

.notification .meta span {
  display: block;
  text-align: right;
  line-height: 24px;
}

/* form styling */
form {
  margin: 0;
}

form label,
form input[type=text],
form textarea {
  display: block;
  width: 700px;
  font-size: 16px;
}

form input[type=text], form textarea {
  width: 678px;
  padding: 10px;
  border: 1px solid #000;
  background: #ddd;
}

form input[type=submit],
a.button {
  border: 1px solid #ddd;
  background: #999;
  padding: 10px;
  color: #121212;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
}

form input[type=submit]:hover,
a.button:hover {
  background: #ccc;
}

/* footer */
footer {
  padding: 10px;
  text-align: right;
  color: #999;
}


/* lineeditor */
.lineeditor .input {
  display: block;
  position: relative;
}

.lineeditor .buttons {
  position: absolute;
  top: 10px;
  right: 5px;
  display: block;
}

.lineeditor .buttons a {
  text-indent: -999em;
  float: right;
  width: 20px;
  height: 20px;
  
}

.lineeditor .delete {
  background: url(../images/small-icon-delete.png) 0 0 no-repeat;
}

.lineeditor .moveup {
  background: url(../images/small-icon-arrow-up.png) 0 0 no-repeat;
}

.lineeditor .movedown {
  background: url(../images/small-icon-arrow-down.png) 0 0 no-repeat;
}


/* errors */
.errorlist {
  margin: 10px 0;
  padding: 10px;
  border: #900;
  background: #fdd;
  color: #600;
  list-style: none;
}

.errorlist + p input {
  border: 1px solid #900;
  background: #fdd;
}
