@import url(base.css);

body {
  background: #313236 url(/media/images/bg.jpg) center 0 no-repeat;
  color: #f6f6f6;
}

#container {
  width: 960px;
  margin: 0 auto;
}

nav, #main {
  background: #4b4b4b;
  padding: 10px;
}

#main {
  margin-top: 10px;
}

#content {
  float: left;
  width: 610px;
  padding: 10px;
}

#sidebar {
  float: right;
  width: 280px;
  padding: 10px;
}

.no-sidebar {
  width: 720px;
  margin: 0 auto;
}

.no-sidebar #content {
  float: none;
  width: auto;
}

#content, #sidebar {
  background: #323232;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Font styles */
h1 {
  font: normal normal 36px/1 Verdana, sans-serif;
  text-align: right;
  margin: 0 0 15px;
}

h2 {
  font: normal normal 20px/1.2 Verdana, sans-serif;
  color: #627f60;
}

/* misc styles */
.right {
  float: right;
}

.left {
  float: left;
}

p {
  margin-bottom: 10px;
}

code {
  white-space: pre;
}

/* header styles */
header nav ul, header nav li {
  margin: 0;
  padding: 0;
}

header nav li {
  float: left;
}

header nav li a,
header nav li a:active,
header nav li a:visited {
  font-size: 24px;
  color: #f6f6f6;
  text-decoration: none;
  display: block;
}

header nav li a:hover {
  color: #ddd;
}

header nav li + li a {
  margin-left: 10px;
}

header nav a.current {
  background: #212121;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

/* project listing */
ul.projects {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
}

ul.projects li {
  padding: 10px;
  color: #627f60;
  font: normal normal 12px/1.3 Verdana, sans-serif;
  background: #121212;
}

ul.projects li + li {
  margin-top: 10px;
}

ul.projects li:nth-child(2n) {
  background: #212121;
}

ul.projects li h3 {
  font-size: 36px;
}

ul.projects li span {
  display: block;
}

ul.projects li .buttons {
  float: right;
}

ul.projects li .buttons a {
  background: url(../images/icons.png) 0 0 no-repeat;
  width: 48px;
  height: 48px;
  float: left;
  text-indent: -999em;
  overflow: hidden;
  outline: none;
  opacity: 0.6;
}

ul.projects li .buttons a:hover {
  opacity: 0.9;
}

ul.projects li .buttons .play {
  background-position: 0 0;
}

ul.projects li .buttons .settings {
  background-position: 0 -48px;
}

ul.projects li .buttons .favourite {
  background: url(../images/favourites.png) -48px 0 no-repeat;
}

ul.projects li .buttons .favourite.favourited {
  background-position: 0 0;
}

/* tests */
.tests {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
}

.tests li a {
  font-size: 14px;
  display: block;
  padding: 10px 10px 10px 40px;
  text-decoration: none;
  background: url(../images/small-icons.png) right 0 no-repeat;
}

.tests li a:hover {
  padding: 9px 9px 9px 39px;
  border: 1px solid #666;
  background-position: 9px center !important;
}

.tests li.success a {
  color: #9de983;
  background: #121212 url(../images/small-icon-pass.png) 10px center no-repeat;
}

.tests li.error a {
  color: #a9a9a9;
  background: #4f2020 url(../images/small-icon-fail.png) 10px center no-repeat;
}

.notifications .tests li {
  width: 300px;
  clear: both;
}

.notifications .tests li.success {
  text-align: left;
  float: left;
}

.notifications .tests li.error {
  text-align: right;
  float: right;
}

.notifications .successes {
  float: left;
  width: 300px;
  margin-left: -400px;
}

.notifications .errors {
  float: right;
  width: 300px;
}

.notifications .svg {
  min-height: 1px;
  width: 100px;
  float: left;
  margin-left: 300px;
}
/* notifications */

.notification code {
  border: 1px solid #666;
  background: #121212;
  padding: 10px;
  display: block;
  clear: both;
}

.notification h2 {
  float: left;
  margin-bottom: 10px;
}

.notification .meta {
  float: right;
}

.notification .meta span {
  display: block;
  text-align: right;
  line-height: 24px;
}

/* form styling */
form {
  margin: 10px 0;
}

form label,
form input[type=text],
form textarea {
  display: block;
  width: 700px;
  font-size: 16px;
}

form input[type=text], form textarea {
  width: 678px;
  padding: 10px;
  border: 1px solid #000;
  background: #ddd;
}

form input[type=submit],
a.button {
  border: 1px solid #ddd;
  background: #999;
  padding: 10px;
  color: #121212;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 5px rgba(196,196,196,0.4);
  -moz-box-shadow: 0 0 5px rgba(196,196,196,0.4);
  -webkit-box-shadow: 0 0 5px rgba(196,196,196,0.4);
}

form input[type=submit]:hover,
a.button:hover {
  box-shadow: 0 0 8px rgba(196,196,196,1);
  -moz-box-shadow: 0 0 8px rgba(196,196,196,1);
  -webkit-box-shadow: 0 0 8px rgba(196,196,196,1);
}
